html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.nav-bar {
    background-color: #cdddd9;
    padding: 10px;
    gap: 10px;
    display: flex;
}

.btn {
    align-content: center;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    background-color: #48a868;
    color: #103327;
    transition: all 0.3s ease;
}

.btn:disabled {
    background-color: #a8b4a8 !important;
    opacity: 1;
    cursor: not-allowed;
}

.btn.upload {
    margin-left: auto;
}

.btn.active {
    background-color: #209244 !important;
    border-radius: 5px !important;
}


.page {
    margin: 30px;
    display: none;
}

.page.active {
    display: block !important;
}

.message {
    align-self: center;
    margin: auto;
}



/* Drag and drop */
.drag-drop-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}

.drag-drop-overlay.active {
    display: flex;
}